<h3 class="name">{{ name }}</h3>
{{#if image}}
<div class="picture">
  <img src="{{ image }}" alt="{{ name }}">
</div>
{{/if}}
<div class="description">
  {{{ description }}}
</div>
<div class="custom-fields">
{{#each custom_fields}}
  <p><strong>{{key}}</strong>: {{value}}</p>
{{/each}}
</div>