<h3 class="name">{{ name }}</h3>
{{#if image}}
<div class="picture">
  <img src="{{ image }}" alt="{{ name }}">
</div>
{{/if}}
<div class="description">
  {{{ description }}}
</div>
<div class="custom-fields">
  <table class="table">
    <tbody>
      {{#if type}}
        <tr>
          <td><strong>Type</strong></td>
          <td class="text-right">{{{ type }}}</td>
        </tr>
      {{/if}}
      {{#each custom_fields}}
        <tr>
          <td><strong>{{ key }}</strong></td>
          <td class="text-right">{{{ value }}}</td>
        </tr>
      {{/each}}
      </div>
    </tbody>
  </table>
</div>