.user-settings.devise-page.container
  .row
    .col-sm-6.col-sm-offset-3
      .page-header.text-center
        %h2 Settings
        %p.lead Edit your profile settings
      .profile-picture.media
        .media-left
          %img.img-circle.media-object{src: resource.avatar_url}
        .media-body
          .media-heading
            Profile avatar
          %p
            Your avatar photo should be about 500px wide 500px tall and under 1MB
            = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }) do |f|
              .form_group
                = f.file_field :avatar
                = f.hidden_field :avatar_cache
              .actions
                = f.submit "Upload Photo", class: "btn btn-default btn-primary"

      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .form-group
          = f.label :name
          = f.text_field :name, autofocus: true, class: "form-control"
        .form-group
          = f.label :email
          = f.email_field :email, class: "form-control"
        .form-group
          = link_to "Change Password", edit_user_password_path, class: "btn btn-default btn-invert"
        /- if devise_mapping.confirmable? && resource.pending_reconfirmation?
        /  %div
        /    Currently waiting confirmation for: #{resource.unconfirmed_email}
        / .form-group
        /   = f.label :password
        /   %em (leave blank if you don't want to change it)
        /   .input-group
        /     = f.password_field :password, autocomplete: "off", class: "form-control"
        /     %span.input-group-addon
        /       view
        / .form-group
        /   = f.label :password_confirmation
        /   = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
        / .form-group
        /   = f.label :current_password
        /   %em (we need your current password to confirm your changes)
        /   = f.password_field :current_password, autocomplete: "off", class: "form-control"
        .form-group
          = f.label :website
          = f.url_field :website, class: "form-control"
        .form-group
          %label
            Social Networks
          %em (Optional)
          %p
            Make it easy for your visitors to connect with you by integrating your social network profiles
        .form-group
          = f.label :facebook, "Facebook Username", class: "lowcase"
          = f.text_field :facebook, class: "form-control"
        .form-group
          = f.label :twitter, "Twitter Username", class: "lowcase"
          = f.text_field :twitter, class: "form-control"
        .actions
          = f.submit "Save profile", class: "btn btn-default btn-primary"
          = link_to "Cancel", :back, class: "btn btn-default btn-invert"
          = link_to "Delete my account", "#", class: "btn btn-default btn-danger pull-right"
          / = button_to( "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete )
