.user-settings.devise-page.container
  .row
    .col-sm-6.col-sm-offset-3
      .page-header.text-center
        %h2= t '.title'
        %p.lead= t '.lead'
      = form_for resource, as: resource_name, url: registration_path(resource_name), html: { id: 'user-dropzone', class: 'form-default dropzone',method: :patch, multipart: true } do |f|
        = devise_error_messages!
        .media-upload
          .media
            .media-left.dropzone-previews{ data: { image: "#{resource.avatar_url(:huge)}" } }
            .media-body
              %p.media-upload-title
                = t '.field.media.title'
              %p.media-upload-description
                = t '.field.media.description'
              .form-group
                %p.dz-message{style: 'display: none;'} Drop your photo here to upload
                = f.label :avatar, t('.field.media.upload')
                %span.btn.btn-primary.btn-file
                  %i.glyphicon.glyphicon-folder-open
                  = t '.field.media.browse'
                  = f.file_field :avatar, class: 'form-control'
                  = f.hidden_field :avatar_cache
                %p.btn-file-output
                .clearfix
          %hr
        .form-group
          = f.label :name
          = f.text_field :name, autofocus: true, class: "form-control"
        .form-group
          = f.label :email
          = f.email_field :email, class: "form-control"
        // TODO!!! Add change password btn
        /.form-group
        /  = link_to "Change Password", edit_user_password_path, class: "btn btn-default btn-invert"
        /- if devise_mapping.confirmable? && resource.pending_reconfirmation?
        /  %div
        /    Currently waiting confirmation for: #{resource.unconfirmed_email}
        / .form-group
        /   = f.label :password
        /   %em (leave blank if you don't want to change it)
        /   .input-group
        /     = f.password_field :password, autocomplete: "off", class: "form-control"
        /     %span.input-group-addon
        /       view
        / .form-group
        /   = f.label :password_confirmation
        /   = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
        / .form-group
        /   = f.label :current_password
        /   %em (we need your current password to confirm your changes)
        /   = f.password_field :current_password, autocomplete: "off", class: "form-control"
        .form-group
          = f.label :website
          = f.url_field :website, class: "form-control"
        .form-group
          %label
            = t '.field.social_networks.title'
          %em= t '.field.social_networks.options'
          %p
            = t '.field.social_networks.description'
        .form-group
          = f.label :facebook, t('.field.social_networks.facebook_username'), class: "lowcase"
          = f.text_field :facebook, class: "form-control"
        .form-group
          = f.label :twitter, t('.field.social_networks.twitter_username'), class: "lowcase"
          = f.text_field :twitter, class: "form-control"
        = f.submit t('.submit'), class: "btn btn-default btn-primary"
        = link_to t('common.cancel'), :back, class: "btn btn-default btn-invert"
        /= link_to "Delete my account", "#", class: "btn btn-default btn-danger pull-right"
        / = button_to( "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete )

#dropzone-preview-template{style: 'display: none;'}
  .dz-preview.dz-file-preview
    .dz-details
      -#.dz-filename
      -#  %span.data-dz-name
      -#.dz-size{"data-dz-size": ""}
      %img.img-circle.media-object{"data-dz-thumbnail": ""}
        -#.dz-progress
        -#  %span.dz-upload{"data-dz-uploadprogress": ""}
        -#.dz-success-mark
        -#  %span ✔
        -#.dz-error-mask
        -#  %span ✘
        -#.dz-error-message
        -#  %span{"data-dz-errormessage": ""}
