.signup.devise-page.container
  .row
    .col-sm-6.col-sm-offset-3
      .page-header
        %h2 Sign Up
        %p.lead Create your relationships visualizations & tell meaningful stories through them
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        = devise_error_messages!
        .form-group
          = f.label :name
          = f.text_field :name, autofocus: true, class: "form-control"
        .form-group
          = f.label :email
          = f.email_field :email, class: "form-control"
        .form-group
          = f.label :password
          - if @validatable
            %em
              (#{@minimum_password_length} characters minimum)
          = f.password_field :password, autocomplete: "off", class: "form-control"
        .form-group
          = f.label :password_confirmation
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
        -# TODO! Add terms & conditions modal
        - if devise_mapping.rememberable?
          .checkbox
            %label{ :for => "terms_of_service" }
              = f.check_box :terms_of_service
              I accept the 
              %a{href: "#"}
                terms & conditions
        .actions
          = f.submit "Sign up", class: "btn btn-default btn-primary"
          .pull-right
            = render "devise/shared/links"