= form_for @node, url: {action: "update"} , method: "patch", html: {:class => 'form-default'} do |f|
  .form-group
    = f.label "node-input-description", t('common.edit_description')
    = f.text_field :description, type: "hidden"
    %trix-toolbar{ id: "wysiwig-toolbar", input: "node_description" }
    %trix-editor{ input: "node_description", toolbar: "wysiwig-toolbar", class: "form-control", autofocus: true }
  = f.submit t('common.save'), class: "btn btn-primary"
  %a.btn.btn-primary.btn-invert{type: "button", "data-dismiss" => "modal", "aria-label" => t('common.close')}
    = t 'common.cancel'
