.node-edit.container
  .row
    .page-header.text-center
      %h2 Edit Node
    .col-sm-6.col-sm-offset-3
      = form_for @node, url: {action: "update"} , method: "patch", html: {:class => 'form-default'} do |f|
        .form-group
          = f.label "node-input-name", "Name"
          = f.text_field :name, class: "form-control"
        .form-group
          = f.label "node-input-description", "Description"
          = f.text_area :description, rows: 5, class: "form-control"
        = f.submit "Save", class: "btn btn-default btn-primary"
        %a.btn.btn-default{href: "#"} Cancel