%p
  This is the image used to display in the visualization
  %br
  %small
    2 MB max. jpg / png / gif
  %hr
  = form_for @node, url: { action: :update }, method: :patch, html: { class: 'form-default', multipart: true } do |f|
    .row
      .col-sm-6
        .form-group
          %label Upload from your computer
          = f.file_field :image, class: "form-control"
          = f.hidden_field :image_cache
      .col-sm-6
        .form-group
          %label Choose it from internet
          = f.text_field :remote_image_url, class: "form-control"
    .row
      .col-sm-12
        .actions
          = f.submit "Upload Image", class: "btn btn-default btn-primary"
          %a.btn.btn-primary.btn-invert{type: "button", "data-dismiss" => "modal", "aria-label" => "Close"} Cancel
