%footer.footer
  .container
    .row
      %section.col-sm-4
        %p
          =t '.copywrite_notice'
        %a.logo-icon{href: "/", title: "Onodo"}
          Onodo
        %a.civio-icon{href: "http://www.civio.es/", target: "_blank", title: "Fundación Ciudadana Civio"}
          Civio
      %section.bordered.col-sm-4
        .row
          %ul.col-sm-6
            %li
              %a{href: "/explore"}
                = t 'common.explore'
            %li
              %a{href: "/gallery"}
                = t 'common.gallery'
            %li
              %a{href: "#contact", "data-toggle" => "collapse", "aria-expanded" => "true", "aria-controls" => "contact"}
                = t 'common.contact'
          %ul.col-sm-6
            %li
              = link_to t('common.login'), new_user_session_path
            %li
              = link_to t('common.signup'), new_user_registration_path
      %section.col-sm-4
        .social-icons
          %p
            %strong
              =t '.follow_us'
          %ul
            %li
              %a.twitter{href: 'https://twitter.com/Onodo_', title: 'Twitter Onodo', target: '_blank'}
                =t(:witter)
            / %li
            /   %a.facebook{href: '#'}
            /     Facebook

        %form#mc-embedded-subscribe-form.form-inline{name: "mc-embedded-subscribe-form", method: "post", action: "http://civio.us4.list-manage1.com/subscribe/post?u=9416fe6b76f2c3f985c1f8e0f&amp;id=9d5b4c8cda", target: "_blank"}
          .form-group 
            %label{for: "mce-EMAIL"}
              =t(:subscribe)
            %input#mce-EMAIL.email{type: "email", required: "require", placeholder: "Email", name: "EMAIL"}
            %button.btn.btn-sm.btn-default{type: "submit"}
              =t(:send)
        %p.footer-info
          %span.eu-icon
          = t '.funding_notice'
