= render 'partials/contact'
%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} 
        %h1 Onodo
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/explore", :class => ('active' unless controller.controller_name != 'pages' or controller.action_name != 'explore')} Explore
        %li
          %a{:href => "/gallery", :class => ('active' unless controller.controller_name != 'pages' or controller.action_name != 'gallery')} Gallery
        %li
          %a{:href => "#contact", "data-toggle" => "collapse", "aria-expanded" => "true", "aria-controls" => "contact"} Contact
      %ul.nav.navbar-nav.navbar-right
        -if current_user.nil?
          %li
            = link_to "Login", new_user_session_path, class: "btn btn-transparent"
          %li
            = link_to "Sign up", new_user_registration_path, class: "btn btn-primary"
        -else
          %li.dropdown
            = render 'partials/user_label', :user => current_user
            %a#user-dropdown.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button", :title => "User settings"}
              %span.user-dropdown-icon
                User settings
            %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-primary{"aria-labelledby" => "user-dropdown"}
              %li
                = link_to "Dashboard", dashboard_path
              %li
                = link_to "Settings", edit_settings_path
              %li
                = link_to "Create visualization", new_visualization_path, :class => 'active'
              %li
                = link_to "Create story", new_story_path, :class => 'active'
              %li
                = link_to "Logout", destroy_user_session_path, :method => 'delete'