= render 'partials/contact'
%nav.navbar.navbar-default.navbar-static-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{"aria-controls" => "navbar", "aria-expanded" => "false", "data-target" => "#navbar", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "/"} 
        %h1 Onodo
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav
        %li
          %a{:href => "/explore"} Explore
        %li
          %a{:href => "/gallery"} Gallery
        %li
          %a{:href => "#contact", "data-toggle" => "collapse", "aria-expanded" => "true", "aria-controls" => "contact"} Contact
      %ul.nav.navbar-nav.navbar-right
        -if current_user.nil?
          %li
            = link_to "Login", new_user_session_path, class: "btn btn-transparent"
          %li
            = link_to "Sign up", new_user_registration_path, class: "btn btn-primary"
        -else
          %li.dropdown
            %a#user-dropdown.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.glyphicon.glyphicon-user
              = current_user.name
              %span.caret
              %ul.dropdown-menu{"aria-labelledby" => "user-dropdown"}
                %li
                  = link_to "Dashboard", user_path(current_user)
                %li
                  = link_to "Settings", user_path(current_user)+'/settings'
                %li.divider{:role => "separator"}
                %li
                  = link_to "Logout", destroy_user_session_path, :method => 'delete'