#delete-node-modal.delete-modal.modal.fade{ tabindex: "-1", role: "dialog"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal", "aria-label" => t('common.close')}
        %h4.modal-title
          = t '.confirm.title'
      .modal-body
        %p
          %strong
            = t '.confirm.info'
        -# TODO! Add other visualizations or stories where appear this node
        %p= t '.confirm.body'
        %p
          %strong
            = t '.confirm.question'
      .modal-footer
        %button.btn.btn-danger{type: "button"}
          = t 'common.confirm'
        %button.btn.btn-primary.btn-invert{type: "button", "data-dismiss" => "modal", "aria-label" => t('common.close')}
          = t 'common.cancel'
