#item-delete-modal.delete-modal.modal.fade{ tabindex: "-1", role: "dialog"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %button.close{type: "button", "data-dismiss" => "modal", "aria-label" => t('common.close')}
        %h4.modal-title
          - if defined? story
            = t '.confirm.title_story'
          - else
            = t '.confirm.title_visualization'
      .modal-body
        -# TODO! Add stories where appear the current visualization
        -# %p This visualization appears also in:
        %p= t '.confirm.body'
        %p
          %strong
            = t 'common.confirm_question'
      .modal-footer
        = button_to t('common.confirm'), item, :method => :delete, :class => "btn btn-danger"
        %button.btn.btn-primary.btn-invert{type: "button", "data-dismiss" => "modal", "aria-label" => t('common.close')}
          = t 'common.cancel'
