.items-preview-list.row
  -unless items.blank?
    - items.each do |item|
      .col-sm-6
        = render 'partials/item_preview', :item => item
    .col-sm-12.text-center
      = paginate items
  - else
    - if @user == current_user
      .text-center
        - if show_visualizations
          %p
            = t '.no_visualizations_yet'
          %a.btn.btn-default.btn-primary{href: new_visualization_path(), title: t('.start_creating_one')}
            = t '.start_creating_one'
        - else
          %p
            = t '.no_stories_yet'
          %a.btn.btn-default.btn-primary{href: new_story_path(), title: t('.start_creating_one')}
            = t '.start_creating_one'
    - else
      .text-center
        - if show_visualizations
          %p
            = t '.user_no_visualizations_yet'
        - else
          %p
            = t '.user_no_stories_yet'