#visualization-table-view.visualization-table.collapse
  .container
    / .title
    /   %h3= @visualization.name+" data table"
    /   %a.close.pull-right{:href => "#visualization-table-view", "data-toggle" => "collapse", "aria-expanded" => "true", "aria-controls" => "visualization-table-view"}
    /     %span{"aria-hidden" => "true"}
    /       &times;

    .visualization-table-header
      %ul#visualization-table-selector.nav.nav-tabs.pull-left{ role: "tablist" }
        %li.active{ role: "presentation" }
          %a{ href: "#nodes", role: "tab", "data-toogle": "tab" } Nodes
        %li{ role: "presentation" }
          %a{ href: "#relations", role: "tab", "data-toogle": "tab" } Relationships
      %a.btn.btn-default.btn-primary.pull-right{ href: dataset_path(@visualization.dataset, format: "xlsx") }
        Download
        %i.glyphicon.glyphicon-save

    .tab-content
      #nodes.tab-pane.active{ role: "tabpanel" }
        %table.table
          %thead
            %tr
              %th Node
              %th Type
              %th Description
              %th Visible
              - custom_fields.each do |field|
                %th= field
          %tbody
          - @nodes.each do |node|
            %tr
              %td= node.name
              %td= node.node_type
              %td= node.description.html_safe if node.description
              %td
                %span{ class: node.visible ? "icon-visible active" : "icon-visible" }
                  Node Visibility
              - custom_fields.each do |field|
                %td= node.custom_fields[field] if node.custom_fields[field]
      #relations.tab-pane{ role: "tabpanel" }
        %table.table
          %thead
            %tr
              %th Source
              %th Relationship
              %th Target
              %th Date
          %tbody
          - @relations.each do |relation|
            %tr
              %td= relation.source.name
              %td= relation.relation_type
              %td= relation.target.name
              %td= relation.at