#visualization-table-view.visualization-table.collapse
  .container
    / .title
    /   %h3= @visualization.name+" data table"
    /   %a.close.pull-right{:href => "#visualization-table-view", "data-toggle" => "collapse", "aria-expanded" => "true", "aria-controls" => "visualization-table-view"}
    /     %span{"aria-hidden" => "true"}
    /       &times;

    .visualization-table-header
      %a.btn.btn-default.btn-primary.pull-right{ href: dataset_path(visualization.dataset, format: "xlsx"), title: t('common.download') }
        = t 'common.download'
        %i.glyphicon.glyphicon-save
      %ul#visualization-table-selector.nav.nav-tabs.pull-left{ role: "tablist" }
        %li.active{ role: "presentation" }
          %a{ href: "#nodes", role: "tab", "data-toogle": "tab" }= t 'common.nodes'
        %li{ role: "presentation" }
          %a{ href: "#relations", role: "tab", "data-toogle": "tab" }= t 'common.relationships'

    .tab-content
      #nodes.tab-pane.active{ role: "tabpanel" }
        %table.table
          %thead
            %tr
              %th= t 'common.node'
              %th= t 'common.type'
              %th= t 'common.description'
              %th= t 'common.visible'
              - node_custom_fields && node_custom_fields.each do |field|
                %th= field["name"].gsub('_', ' ').capitalize
          %tbody
            - visualization.nodes.each do |node|
              %tr
                %td= node.name
                %td= node.node_type
                %td= node.description.html_safe if node.description
                %td
                  %span{ class: node.visible ? "icon-visible active" : "icon-visible" }
                    = t 'common.visibility'
                - node_custom_fields && node_custom_fields.each do |field|
                  %td= node.custom_fields[field["name"]].to_s
      #relations.tab-pane{ role: "tabpanel" }
        %table.table
          %thead
            %tr
              %th= t 'common.source'
              %th= t 'common.relationship'
              %th= t 'common.target'
              %th= t 'common.date'
              - relation_custom_fields && relation_custom_fields.each do |field|
                %th= field["name"].gsub('_', ' ').capitalize
          %tbody
            - visualization.relations.each do |relation|
              %tr
                %td= relation.source && relation.source.name
                %td= relation.relation_type
                %td= relation.target && relation.target.name
                %td= format_date_for(relation)
                - relation_custom_fields && relation_custom_fields.each do |field|
                  %td= relation.custom_fields[field["name"]].to_s
