%div{class: 'item-preview item-'+item.class.to_s.downcase+((defined? large) ? ' item-preview-large' : '') }
  .item-type-icon
  - unless defined? cover
    .item-type
      = item.class.to_s
  - if controller_name == 'users' and !item.published
    .item-status
      Draft
      .item-status-icon
  .item-author
    %a{href: user_path(item.author_id), title: item.author.name}
      = item.author.name
      .item-author-picture
        %img{src: item.author.avatar_url(:medium)}
  -if item.class.to_s.downcase == 'story'
    .item-picture
      -if item.image.medium.blank?
        .item-picture-default
      -else
        .item-picture-overlay-white
        .item-picture-overlay-black
        .item-picture-cover{ :style => "background-image: url('#{(defined? large) ? item.image.huge.url : item.image.medium.url}')" }
    .item-info-container
      .item-info-container-inner
        .item-info
          - if defined? cover
            .item-title
              %h3= item.name
          - else
            %a.item-title{:href => story_path(item), :title => item.name} 
              %h3= item.name
              -if defined? large
                .btn-start-reading
                  %span
                    Start reading
          -if defined? large
            - if defined? cover
              - if item.description?
                .item-description
                  = item.description.html_safe
              .btn-start-reading
                %span
                  Start reading
          - elsif item.description?
            .item-description
              = item.description.html_safe
  -else
    .item-info-container
      .item-info-container-inner
        .item-info
          %a.item-title{:href => visualization_path(item), :title => item.name} 
            %h3= item.name
            -if defined? large
              .btn-start-reading
                %span
                  Start reading
