#visualization-share.panel.panel-default.panel-share
  .panel-heading
    %button.close{type: "button", "aria-label" => t('common.close')}
      %span{"aria-hidden" => "true"}
        &times
  - if item.published?
    .panel-body
      %h4.text-center
        Share
      %ul.social-networks-btns
        %li
          %a.twitter{href: 'https://twitter.com/intent/tweet?text='+item.name+' - made with Onodo'+'&url='+request.original_url, title: t('.share_in', network_name: 'Twitter'), target: '_blank'}
            %span.icon
              Twitter
        %li
          %a.facebook{href: 'https://www.facebook.com/dialog/share?app_id=1541273426175561&display=popup&href='+request.original_url+'&redirect_uri='+request.original_url, title: t('.share_in', network_name: 'Facebook'), target: '_blank'}
            %span.icon
              Facebook
        %li
          %a.gplus{href: 'https://plus.google.com/share?url='+request.original_url, title: t('.share_in', network_name: 'Google +'), target: '_blank'}
            %span.icon
              Google +
      - unless defined? story
        %h4.text-center
          = t '.embed_this', class_name: item.class.to_s.downcase
        / %p.text-center
        /   Size
        /   %small
        /     (minimum size is 700x500 pixels)
        / %form.form-inline
        /   .form-group
        /     %input.form-control{ type: "number", name: "embed-width", value: 1200 }
        /     %label{ for: "embed-width" }
        /       Width
        /   .form-group.form-group-separator
        /     x
        /   .form-group
        /     %input.form-control{ type: "number", name: "embed-height", value: 600 }
        /     %label{ for: "embed-height" }
        /       Height
        / .checkbox
        /   %label
        /     %input{ type: "checkbox", checked: "checked" }
        /       Show controls in embed window
        / .checkbox
        /   %label
        /     %input{ type: "checkbox", checked: "checked" }
        /       Show title in embed window
        %textarea.form-control{ rows: 5 }
          <iframe src="#{request.base_url}#{visualization_path(item)}/embed/" width="100%" height="450px" scrolling="no" marginheight="0" frameborder="0"></iframe>
      .form-group
        %label{ for: "" }
          = t '.permalink'
        - if defined? story
          %input.form-control{ type: "text", value: request.base_url+story_path(item)+'/' }
        - else
          %input.form-control{ type: "text", value: request.base_url+visualization_path(item)+'/' }
  - else
    .panel-body.draft
      .panel-body-draft-container
        %h4
          = t '.public_to_share', class_name: item.class.to_s.downcase
        = link_to t('.publish_now'), {controller: controller.controller_name, action: "publish", id: item.id}, {method: :post, class: "btn btn-default btn-primary"}
