#table-add-column-relations-modal.table-edit-modal.modal.fade{ tabindex: "-1", role: "dialog"}
  .modal-dialog{role: "document"}
    .modal-content
      .modal-header
        %h4.modal-title
          = t '.add_custom_column'
        %button.close{type: "button", "data-dismiss" => "modal", "aria-label" => t('common.close')}
      .modal-body
        %form#add-custom-column-relations-form
          .form-group
            %label
              = t 'common.custom_column_name'
            %input#add-custom-column-name.form-control{type: "text"}
          .form-group
            %label
              =t 'common.custom_column_type'
            %select.form-control#add-custom-column-type
              %option{ value: 'string' }
                = t 'common.string'
              %option{ value: 'number' }
                = t 'common.number'
              %option{ value: 'boolean' }
                = t 'common.boolean'
          %button.btn.btn-primary{ type: "submit" }
            = t 'common.add_column'
