.visualization-header
  .container-fluid
    %h2.pull-left= item.name
    - if defined? edit or (defined? current_user and current_user == item.author)
      %a.btn-edit-circle{ href: (defined? story) ? edit_story_path(item)+'/info' : edit_visualization_path(item)+'/info', title: t('.edit_info', class_name: item.class.to_s), data: {toggle: "tooltip", placement: "right"} }
        .btn-edit-circle-icon
      .pull-right.dropdown
        %button#actions-dropdown.btn.btn-default.btn-primary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
          = t '.actions'
          -#%span.caret
          %span.icon-tool
        %ul.dropdown-menu.dropdown-menu-right.dropdown-menu-primary{"aria-labelledby" => "actions-dropdown"}
          - if defined? edit
            %li
              %a.active{ href: (defined? story) ? story_path(item) : visualization_path(item) }
                = t '.preview', class_name: item.class.to_s.downcase
                %i.icon-preview
          - else
            %li
              %a.active{ href: (defined? story) ? edit_story_path(item) : edit_visualization_path(item) }
                = t '.edit', class_name: item.class.to_s.downcase
                %i.icon-edit
          %li
            - if item.published?
              = link_to raw(t('.unpublish') + ' <i class="icon-unpublish"></i>'), {controller: controller.controller_name, action: "unpublish", id: item.id}, {method: :post, class: "active"}
            - else
              = link_to raw(t('.publish') + ' <i class="icon-publish"></i>'), {controller: controller.controller_name, action: "publish", id: item.id}, {method: :post, class: "active"}
          %li
            %a.active{ href: (defined? story) ? edit_story_path(item)+'/info' : edit_visualization_path(item)+'/info' }
              = t '.edit_info', class_name: item.class.to_s.downcase
              %i.icon-edit
          / %li
          /   %a{href: (defined? story) ? new_story_path : new_visualization_path}
          /     Duplicate #{item.class.to_s.downcase}
          /     %i.icon-duplicate
          - if defined? story
            %li
              %a{href: new_story_chapter_path(item)}
                = t '.add_chapter_to_story'
                %i.icon-edit
            %li
              %a{href: edit_visualization_path(item.visualization)}
                = t 'common.edit_visualization'
                %i.icon-edit
          - else
            %li
              %a{href: new_story_path}
                = t '.create_story_from_visualization'
                %i.icon-story
          %li
            %a.text-danger{ href: "#item-delete-modal", data: {toggle: "modal"} }
              = t '.delete', class_name: item.class.to_s.downcase
              %i.icon-trash
      .clearfix
