- grid_class = (defined? story) ? 'col-sm-3' : 'col-sm-4'
- controller = (defined? story) ? 'stories' : 'visualizations'
.visualization-info
  .container
    .row
      %div{class: grid_class}
        %strong Created by
        = render 'partials/user_label', :user => item.author, :align => 'left'
      - if defined? story
        %div{class: grid_class}
          %strong Based on
          %a.visualization-based-on{href: visualization_path(item.visualization), title: item.visualization.name, target: "_blank"}
            = item.visualization.name
      %div{class: grid_class}
        - if defined? current_user and current_user == item.author
          %strong Status
          - if item.published?
            .visualization-status 
              .visualization-status-icon
                %span.visualization-status-icon-sprite
              Public
          - else
            .visualization-status.pull-left 
              .visualization-status-icon
                %span.visualization-status-icon-sprite
              Draft
            = link_to "Publish", {controller: controller, action: "publish", id: item.id}, {method: :post, class: "btn btn-default btn-primary"}
      %div{class: grid_class}
        %button.btn.btn-default.btn-invert.btn-collapse.collapsed.pull-right{ type: "button", "aria-controls" => "visualization-table-view", data: { toggle: "collapse", target: "#visualization-table-view" } }
          %span.collapsible-label
            %span.collapsible-label-icon
            View Data Table
          %span.collapsed-label
            %span.collapsed-label-icon
            Hide Data Table

= render 'partials/item_table_view', visualization: (defined? story) ? item.visualization : item, custom_fields: (defined? story) ? item.visualization.dataset.custom_fields : item.dataset.custom_fields

- if item.description?
  .visualization-description
    .container
      .row
        .col-md-8.col-lg-9
          %h3 Description
          - if defined? current_user and current_user == item.author
            %a.btn-edit-circle{ href: (defined? story) ? edit_story_path(item)+'/info' : edit_visualization_path(item)+'/info', title: "Edit #{item.class.to_s.downcase} info", data: {toggle: "tooltip", placement: "right"} }
              .btn-edit-circle-icon
          .visualization-description-content= item.description.html_safe
        - if defined? current_user and current_user == item.author
          .visualization-description-buttons.col-md-4.col-lg-3
            %p
              %a.btn.btn-default.btn-invert{ href: new_story_path }
                %span.btn-icon-story
                Create Story
            %p
              %a.btn.btn-default.btn-invert{ href: new_visualization_path }
                %span.btn-icon-visualization
                Create Visualization
            %p
              %a.btn.btn-default.btn-invert{ href: edit_visualization_path(item) }
                %span.btn-icon-pencil
                Edit Visualization
            %p
              %a.btn.btn-default.btn-invert{ href: (defined? story) ? edit_story_path(item)+'/info' : edit_visualization_path(item)+'/info' }
                %span.btn-icon-pencil
                Edit Description
            / %p
            /   %a.btn.btn-default.btn-invert{ href: "#" }
            /     %span.btn-icon-duplicate
            /     Duplicate Visualization
