.visualization-graph-menu-actions
  - if defined? story
    %button.btn.btn-default.btn-transparent.btn-story-info{type: "button"}
      %span.title
        = t '.story_index'
      %span.icon-story-info
  .btn-search
    %span.search-icon
    %form.form-inline.search-form
      .form-group
        %input.form-control{type: "text", placeholder: t('.search_node')}
      %button.btn.btn-default{type: "button"}
  - unless defined? @demo
    %button.btn.btn-default.btn-transparent.btn-share{type: "button"}
      %span.title
        = t '.share'
      %span.icon-share
  - if !defined? story and defined? edit
    %button.btn.btn-default.btn-transparent.btn-configure{type: "button"}
      %span.title
        = t '.settings'
      %span.icon-configure
    %button.btn.btn-default.btn-transparent.btn-fix-nodes{type: "button"}
      %span.title.title-fix
        = t 'common.fix_nodes'
      %span.title.title-unfix
        = t 'common.unfix_nodes'
      %span.icon-fix-nodes