.visualization-graph-panel-configuration.panel.panel-default
  .panel-heading
    %h4= t '.title'
    %button.close{type: "button", "aria-label" => t('common.close')}
  .panel-body
    %ul#visualization-graph-panel-configuration-tabs.nav.nav-tabs{ role: "tablist" }
      %li.active{ role: "presentation" }
        %a#nodes-tab{ href: "#settings-nodes", role: "tab", "data-toggle": "tab" }
          = t 'common.nodes'
      %li{ role: "presentation" }
        %a#relations-tab{ href: "#settings-relations", role: "tab", "data-toggle": "tab" }
          = t '.relations'
      %li{ role: "presentation" }
        %a#advanced-tab{ href: "#settings-advanced", role: "tab", "data-toggle": "tab" }
          = t '.advanced'
    #visualization-graph-panel-configuration-tab-content.tab-content
      #settings-nodes.tab-pane.fade.in.active{ role: "tabpanel" }
        .row
          .col-sm-6
            %p.configuration-label
              = t '.nodes_color'
          .col-sm-6.text-right
            #nodes-color.dropdown.dropdown-select
              %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', 'role': 'button' }
                %span.text
                %span.caret
              %ul.dropdown-menu
                %li.color-solid
                  %p
                    = t '.colors.solid'
                  %ul.color-solid-selector
                    %li.color.color-1{ 'data-value': 'solid-1' }
                    %li.color.color-2{ 'data-value': 'solid-2' }
                    %li.color.color-3{ 'data-value': 'solid-3' }
                    %li.color.color-4{ 'data-value': 'solid-4' }
                    %li.color.color-5{ 'data-value': 'solid-5' }
                    %li.color.color-6{ 'data-value': 'solid-7' }
                    %li.color.color-7{ 'data-value': 'solid-9' }
                    %li.color.color-8{ 'data-value': 'solid-10' }
                %li.color-quantitative{ 'data-value': 'quantitative' }
                  %p
                    = t '.colors.quantitative'
                %li.color-qualitative{ 'data-value': 'qualitative' }
                  %p
                    = t '.colors.qualitative'
        .row.nodes-color-column-container
          .col-sm-6
            %p.configuration-label
              = t '.based_on_column'
          .col-sm-6.text-right
            #nodes-color-column.dropdown.dropdown-select
              %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', 'role': 'button' }
                %span.text
                  = t 'common.type'
                %span.caret
              %ul.dropdown-menu
                %li.active{ 'data-value': 'node_type' }
                  %p
                    = t 'common.type'
        %hr
        .row
          .col-sm-6
            %p.configuration-label
              = t '.nodes_size'
          .col-sm-6.text-right
            #nodes-size.dropdown.dropdown-select
              %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', 'role': 'button' }
                %span.text
                %span.caret
              %ul.dropdown-menu
                %li.size-s{ 'data-value': 6 }
                  %p
                    = t '.sizes.small'
                %li.size-m{ 'data-value': 11 }
                  %p
                    = t '.sizes.medium'
                %li.size-l{ 'data-value': 14 }
                  %p
                    = t '.sizes.large'
                %li.size-xl{ 'data-value': 18 }
                  %p
                    = t '.sizes.extra_large'
                %li.size-relations{ 'data-value': 1 }
                  %p
                    = t '.based_on_column'
        .row.nodes-size-column-container
          .col-sm-6
            %p.configuration-label
              = t '.based_on_column'
          .col-sm-6.text-right
            #nodes-size-column.dropdown.dropdown-select
              %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', 'role': 'button' }
                %span.text
                  = t 'common.number_of_relations'
                %span.caret
              %ul.dropdown-menu
                %li.active{ 'data-value': 'relations' }
                  %p
                    = t 'common.number_of_relations'
        %hr
        .row.switch-container
          .col-sm-8
            %p.configuration-label.configuration-switch-label
              = t '.show_nodes_label'
          .col-sm-4.text-right
            = check_box_tag :showNodesLabel, 1, false, data: { "size" => "small" }
        .row.switch-container
          .col-sm-8
            %p.configuration-label.configuration-switch-label
              = t '.show_nodes_label_complete'
          .col-sm-4.text-right
            = check_box_tag :showNodesLabelComplete, 0, false, data: { "size" => "small" }
        .row.switch-container
          .col-sm-8
            %p.configuration-label.configuration-switch-label
              = t '.show_nodes_image'
          .col-sm-4.text-right
            = check_box_tag :showNodesImage, 1, false, data: { "size" => "small" }
        .row.switch-container
          .col-sm-8
            %p.configuration-label.configuration-switch-label
              = t '.show_legend'
          .col-sm-4.text-right
            = check_box_tag :showLegend, 1, false, data: { "size" => "small" }
      #settings-relations.tab-pane.fade{ role: "tabpanel" }
        / .form-group
        /   %label{ for: "curvature"}
        /     Relations curvature
        /   %input#curvature.form-control.slider{name: "curvature", type: "text", "data-slider-min": "0.5", "data-slider-max": "10", "data-slider-step": "0.001", "data-slider-scale": "logarithmic"}
        .row
          .col-sm-6
            %p.configuration-label
              = t '.relations_width'
          .col-sm-6.text-right
            #relations-width.dropdown.dropdown-select
              %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', 'role': 'button' }
                %span.text
                  = t '.normal'
                %span.caret
              %ul.dropdown-menu
                %li{ 'data-value': 0 }
                  %p
                    = t '.normal'
                %li{ 'data-value': 1 }
                  %p
                    = t '.based_on_column'
        .row.relations-width-column-container
          .col-sm-6
            %p.configuration-label
              = t '.based_on_column'
          .col-sm-6.text-right
            #relations-width-column.dropdown.dropdown-select
              %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', 'role': 'button' }
                %span.text
                  = t '.no_number_columns'
                %span.caret
              %ul.dropdown-menu
        %hr

        .row
          .col-sm-6
            %p.configuration-label
              = t '.relations_color'
          .col-sm-6.text-right
            #relations-color.dropdown.dropdown-select
              %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', 'role': 'button' }
                %span.text
                %span.caret
              %ul.dropdown-menu
                %li.color-solid
                  %p
                    = t '.colors.solid'
                  %ul.color-solid-selector
                    %li.color.color-1{ 'data-value': 'solid-1' }
                    %li.color.color-2{ 'data-value': 'solid-2' }
                    %li.color.color-3{ 'data-value': 'solid-3' }
                    %li.color.color-4{ 'data-value': 'solid-4' }
                    %li.color.color-5{ 'data-value': 'solid-5' }
                    %li.color.color-6{ 'data-value': 'solid-7' }
                    %li.color.color-7{ 'data-value': 'solid-9' }
                    %li.color.color-8{ 'data-value': 'solid-10' }
                %li.color-quantitative{ 'data-value': 'quantitative' }
                  %p
                    = t '.colors.quantitative'
                %li.color-qualitative{ 'data-value': 'qualitative' }
                  %p
                    = t '.colors.qualitative'

        .row.relations-color-column-container
          .col-sm-6
            %p.configuration-label
              = t '.based_on_column'
          .col-sm-6.text-right
            #relations-color-column.dropdown.dropdown-select
              %button.btn.btn-default.dropdown-toggle{ type: 'button', 'data-toggle': 'dropdown', 'role': 'button' }
                %span.text
                  = t 'common.type'
                %span.caret
              %ul.dropdown-menu
                %li.active{ 'data-value': 'node_type' }
                  %p
                    = t 'common.type'
        %hr
      
        .row
          .col-sm-6
            %p.configuration-label
              = t '.relations_line_style'
          .col-sm-6.text-right
            %select#relations-line-style.form-control
              %option{ value: 0 }
                = t '.line_styles.solid'
              %option{ value: 1 }
                = t '.line_styles.dashed'
              %option{ value: 2 }
                = t '.line_styles.dotted'
      #settings-advanced.tab-pane.fade{ role: "tabpanel" }
        -# Attributes from https://github.com/mbostock/d3/wiki/Force-Layout
        .form-group
          %label{ for: "linkdistante"}
            = t '.link_distance'
          %input#linkdistance.form-control.slider{name: "linkDistance", type: "text", "data-slider-min": "10", "data-slider-max": "200"}
        .form-group
          %label{ for: "linkstrengh"}
            = t '.link_strength'
          %input#linkstrength.form-control.slider{name: "linkStrength", type: "text", "data-slider-min": "-60", "data-slider-max": "-10"}
        %button#reset-defaults.btn.tbn-sm.btn-primary.btn-invert
          = t '.reset_defaults'
