.story-info.panel.panel-default.active
  .panel-heading
    .index-header
      = t '.index'
    .chapter-header.hide
      %a.index-back-btn{ href: '#', title: t('.back')}
        %span.icon-story-index
        = t '.back'
      .chapters-navigation
        %a.chapter-navigation.chapter-navigation-prev{ href: '#', title: t('.previous_chapter') }
          = t '.previous_chapter'
          %span.prev-chapter-icon
        .chapters-tracker
          %span.chapter-index
          \/ #{story.chapters.length}
        %a.chapter-navigation.chapter-navigation-next{ href: '#', title: t('.next_chapter') }
          = t '.next_chapter'
          %span.next-chapter-icon
    %button.close{type: "button", "aria-label" => "Close"}
      %span{"aria-hidden" => "true"}
        &times
  .panel-body
    .index-content
      - if story.chapters
        %ul.chapters-list
          - story.chapters.each_with_index do |chapter, index|
            %li
              %a.chapter{ href: chapter.id, title: chapter.name }
                %span.index
                  = index+1
                %span.title
                  = chapter.name
      - if defined? edit
        %a.btn.btn-default.btn-primary{ href: new_story_chapter_path(story) }
          = t '.add_chapter'
    .chapter-content.hide
