.user-dashboard
  .container
    .user-info.media
      .media-left
        %img.media-object.img-circle{src: 'http://placehold.it/64x64'}
      .media-body
        %h2= @user.name
        -if defined? @user.website
          %p
            %a{href: @user.website, target: '_blank'}
              = @user.website
        -if !@user.twitter.blank? or !@user.facebook.blank?
          %ul.social-networks-btns
            -if !@user.twitter.blank?
              %li
                %a.twitter{href: 'https://twitter.com/'+@user.twitter, target: '_blank'}
                  %span.icon
                    = @user.name + ' at Twitter'
            -if !@user.facebook.blank?
              %li
                %a.facebook{href: 'https://www.facebook.com/'+@user.facebook, target: '_blank'}
                  %span.icon
                    = @user.name + ' at Facebook'

  .explore-navbar.container
    = render 'partials/items_preview_header', :visualizations => @visualizations

  .dashboard-items
    .container
      -if @user == current_user
        .row
          .col-sm-12.col-md-8.col-md-offset-2
            .user-actions.row
              .col-sm-4.text-center
                %a.btn-circle-lg.btn-circle-lg-visualization{href: new_visualization_path}
                  .btn-circle-lg-icon
                    .btn-circle-lg-icon-detail
                    .btn-circle-lg-icon-sprite
                  .btn-circle-lg-title
                    Create New Visualization
              .col-sm-4.text-center
                %a.btn-circle-lg.btn-circle-lg-story{href: new_story_path}
                  .btn-circle-lg-icon
                    .btn-circle-lg-icon-detail
                    .btn-circle-lg-icon-sprite
                  .btn-circle-lg-title
                    Create New Story
              .col-sm-4.text-center
                %a.btn-circle-lg.btn-circle-lg-settings{href: edit_user_registration_path(@user)}
                  .btn-circle-lg-icon
                    .btn-circle-lg-icon-detail
                    .btn-circle-lg-icon-sprite
                  .btn-circle-lg-title
                    Edit your settings
      = render 'partials/items_preview_list', :items => @items, :visualizations => @visualizations