.user-dashboard
  .container
    .user-info.media
      .media-left
        %img.media-object.img-circle{src: @user.avatar_url(:big)}
      .media-body
        %h2= @user.name
        -if defined? @user.website
          %p
            %a{href: @user.website, target: '_blank'}
              = @user.website
        -if !@user.twitter.blank? or !@user.facebook.blank?
          %ul.social-networks-btns
            -if !@user.twitter.blank?
              %li
                %a.twitter{href: 'https://twitter.com/'+@user.twitter, target: '_blank'}
                  %span.icon
                    = t '.user_at_twitter', account: @user.name
            -if !@user.facebook.blank?
              %li
                %a.facebook{href: 'https://www.facebook.com/'+@user.facebook, target: '_blank'}
                  %span.icon
                    = t '.user_at_facebook', account: @user.name

  /.explore-navbar.container
  /  = render 'partials/items_preview_header', :show_visualizations => @show_visualizations

  .dashboard-items
    .container
      -if @user == current_user
        .row
          .col-sm-12.col-md-8.col-md-offset-2
            .user-actions.row
              .col-sm-4.text-center
                %a.btn-circle-lg.btn-circle-lg-visualization{href: new_visualization_path}
                  .btn-circle-lg-icon
                    .btn-circle-lg-icon-detail
                    .btn-circle-lg-icon-sprite
                  .btn-circle-lg-title
                    = t '.create_new_visualization'
              .col-sm-4.text-center
                /%a.btn-circle-lg.btn-circle-lg-story{href: new_story_path}
                .btn-circle-lg.btn-circle-lg-story.disabled
                  .btn-circle-lg-icon
                    .btn-circle-lg-icon-detail
                    .btn-circle-lg-icon-sprite
                  .btn-circle-lg-title
                    = t '.create_new_story'
                    %span.soon
                      = t '.soon'
              .col-sm-4.text-center
                %a.btn-circle-lg.btn-circle-lg-settings{href: edit_user_registration_path(@user)}
                  .btn-circle-lg-icon
                    .btn-circle-lg-icon-detail
                    .btn-circle-lg-icon-sprite
                  .btn-circle-lg-title
                    = t '.edit_your_settings'
      = render 'partials/items_preview_list', :items => @items, :show_visualizations => @show_visualizations
