.password-edit.devise-page.container
  .row
    .page-header.text-center
      %h2 Change your password
      %p.lead This will be your Onodo password from now on
    .col-sm-6.col-sm-offset-3
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-default' }) do |f|
        = devise_error_messages!
        = f.hidden_field :reset_password_token
        .form-group
          = f.label :password, "New password"
          = f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control"
        .form-group
          = f.label :password_confirmation, "Confirm new password"
          = f.password_field :password_confirmation, autocomplete: "off", class: "form-control"
        .actions
          = f.submit "Change my password", class: "btn btn-default btn-primary"
          .pull-right
            = render "devise/shared/links"