.password-new.devise-page.container
  .row
    .page-header.text-center
      %h2= t '.forgot_your_password'
      %p.lead= t '.lead'
    .col-sm-6.col-sm-offset-3
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'form-default' }) do |f|
        = devise_error_messages!
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: "form-control"
        .actions
          = f.submit t('.send_me_reset_password_instructions'), class: "btn btn-default btn-primary"
