.container
  .row
    .col-sm-8
      %h2 Did you forget your password?
      %p.lead Enter the email you registered & we will send you a link to restore it
      = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
        = devise_error_messages!
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: "form-control"
        .actions
          = f.submit "Send", class: "btn btn-default btn-primary"
