.visualization-graph
  = render 'partials/item_header', item: @visualization, edit: true
  .visualization-graph-container
    = render 'partials/item_graph_menu_navigation'
    = render 'partials/item_graph_menu_actions', edit: true
    = render 'partials/item_graph_panel_configuration'
    = render 'partials/item_share_panel', item: @visualization
    .visualization-graph-component.loading
      %svg
    = render 'partials/item_graph_info', edit: true
= render 'partials/item_table_edit'
= render 'partials/item_table_description_modal'
= render 'partials/item_table_image_modal'
= render 'partials/item_table_add_column_nodes_modal'
= render 'partials/item_table_add_column_relations_modal'
= render 'partials/item_delete_modal', item: @visualization 
= render 'partials/item_delete_node_modal'
= render 'partials/item_delete_relation_modal'
= render 'partials/network_analysis_modal'
