.visualization-graph
  = render 'partials/visualization_header', :edit => true
  = render 'partials/visualization_graph'
= render 'partials/visualization_table_edit'
= render 'partials/visualization_share_modal'
= render 'partials/visualization_delete_modal'