.visualization-header
  .container-fluid
    %h2.pull-left= @visualization.name 

.visualization-graph
  .visualization-graph-container
    = render 'partials/item_graph_menu_navigation'
    = render 'partials/item_graph_menu_actions'
    = render 'partials/item_graph_panel_configuration'
    = render 'partials/item_share_panel', item: @visualization
    .visualization-graph-component
      %svg
    = render 'partials/item_graph_info'

= render 'partials/user_label', :user => @visualization.author, :align => 'left'