- unless params.has_key?(:notitle)
  .visualization-header
    %h2.pull-left 
      = @visualization.name
%div{ class: params.has_key?(:notitle) ? 'visualization-graph notitle' : 'visualization-graph' }
  .visualization-graph-container
    = render 'partials/item_graph_menu_navigation'
    = render 'partials/item_graph_menu_actions'
    = render 'partials/item_graph_legend'
    .visualization-graph-component.loading
  = render 'partials/item_graph_info'

= render 'partials/embed_icon', item: @visualization

= render 'partials/item_share_panel', item: @visualization
