.visualization-new.container
  .row
    .col-sm-6.col-sm-offset-3
      .page-header.text-center
        %h2 Create Visualization
      = form_for :visualization, url: visualizations_path , method: "post" do |f|
        .form-group
          = f.label :name, "Visualization title"
          = f.text_field :name, class: "form-control"
        .form-group
          = f.label :nodes, "Upload Nodes CSV File"
          = f.file_field :nodes, accept: '.csv', :class => "form-control"
        .form-group
          = f.label :relations, "Upload Relations CSV File"
          = f.file_field :relations, accept: '.csv', :class => "form-control"
        = f.submit "Create", class: "btn btn-default btn-primary"