= render 'partials/visualization_header'

.visualization-graph
  .visualization-graph-container
    = render 'partials/visualization_graph_menu_navigation'
    = render 'partials/visualization_graph_menu_actions'
    = render 'partials/visualization_graph_panel_configuration'
    = render 'partials/visualization_share_panel'
    .visualization-graph-component
    = render 'partials/visualization_graph_info'

= render 'partials/visualization_info'

.visualization-related-items
  %p.section-title
    Related visualizations & stories
  .container
    = render 'partials/item_preview_carousel', :items => @related_items

