= render 'partials/visualization_header'

.visualization-graph
  .visualization-graph-container
    = render 'partials/visualization_graph_menu_navigation'
    = render 'partials/visualization_graph_menu_actions'
    = render 'partials/visualization_graph_panel_configuration'
    -#%img.img-responsive{:src => 'http://placehold.it/1920x820'}
    .visualization-graph-component

= render 'partials/visualization_info'
  
= render 'partials/visualization_table_view'

.visualization-related-items
  .container
    %strong Related visualizations & stories
    .row
      - @related_items.each do |item|
        .col-sm-6
          = render 'partials/item_preview', :item => item

= render 'partials/visualization_share_modal'