= render 'partials/item_header', item: @visualization

.visualization-graph
  .visualization-graph-container
    = render 'partials/item_graph_menu_navigation'
    = render 'partials/item_graph_menu_actions'
    = render 'partials/item_graph_legend'
    = render 'partials/item_share_panel', item: @visualization
    = render 'partials/item_graph_canvas'
    = render 'partials/item_graph_info'

= render 'partials/item_info', item: @visualization

- unless @related_items.blank?
  .visualization-related-items
    %p.section-title
      = t '.relateds'
    .container
      = render 'partials/item_preview_carousel', items: @related_items

= render 'partials/item_delete_modal', item: @visualization
