.container-fluid
  .row
    -#.home-background
    .jumbotron.text-center
      .home-icon
      %h2= t '.titles.main'
      %p.lead= t '.titles.lead'
      %hr.separator.separator-white.separator-small
      - if current_user.nil?
        %a.btn.btn-primary{:href => new_user_registration_path, :title => t('common.signup')}
          = t 'common.signup'
      - else
        %a.btn.btn-primary{:href => new_visualization_path, :title => t('.create_visualization')}
          = t '.create_visualization'
      %a.btn.btn-primary{:href => "/explore", :title => t('.explore')}
        = t '.explore'
      %a.btn.btn-primary{:href => "#", :title => t('.demo')}
        = t '.demo'
      /%a.btn.btn-primary{:href => "/gallery", :title => t('.gallery')}
      /  = t '.gallery'
  .row.features.features-easey.text-center
    %h3= t '.titles.features'
    .container
      .row
        .feature.col-sm-4
          .feature-icon
            %span.feature-icon-creation
          %h4= t '.features.easey.first.title'
          %p= t '.features.easey.first.text'
        .feature.col-sm-4
          .feature-icon
            %span.feature-icon-information
          %h4= t '.features.easey.second.title'
          %p= t '.features.easey.second.text'
        .feature.col-sm-4
          .feature-icon
            %span.feature-icon-share
          %h4= t '.features.easey.third.title'
          %p= t '.features.easey.third.text'
  .row.features.features-great.text-center
    %h3
      = t '.titles.great'
    .container
      .row
        .feature.col-sm-4
          .feature-icon
            %span.feature-icon-collaboration
          %h4= t '.features.great.first.title'
          %p= t '.features.great.first.text'
        .feature.col-sm-4
          .feature-icon
            %span.feature-icon-preview
          %h4= t '.features.great.second.title'
          %p= t '.features.great.second.text'
        .feature.col-sm-4
          .feature-icon
            %span.feature-icon-story
          %h4= t '.features.great.third.title'
          %p= t '.features.great.third.text'
  #gallery-carousel.row
    %p.section-title
      =t '.titles.gallery'
    -#%a.btn.btn-default.btn-primary{:href => '/gallery'}
    -#  %i.glyphicon.glyphicon-plus
    -#    View More
    .gallery-carousel-container.container
      = render 'partials/item_preview_carousel', :items => @gallery_items
  / .brands.container
  /   %p.section-title
  /     The are using Onodo
  /     %ul
  /       %li
  /         %img{ src: "http://lorempixel.com/140/30/" }
  /       %li
  /         %img{ src: "http://lorempixel.com/140/30/" }
  /       %li
  /         %img{ src: "http://lorempixel.com/140/30/" }
  /       %li
  /         %img{ src: "http://lorempixel.com/140/30/" }
