.container
  .page-header
    %h2
      = t 'common.documentation'
.page-items
  .container.documentation-page
    .row
      .col-lg-8.col-md-10
        %h3
          %span.blue
            1.
          = t '.videos.first.title'
        .video-responsive
          <iframe width="750" height="411" src="https://www.youtube.com/embed/pdgji4RL-_Q" frameborder="0" allowfullscreen></iframe>
        %hr
        %h3
          %span.blue
            2.
          = t '.videos.second.title'
        .video-responsive
          <iframe width="750" height="411" src="https://www.youtube.com/embed/pdgji4RL-_Q" frameborder="0" allowfullscreen></iframe>
        %hr
        %h3
          %span.blue
            3.
          = t '.videos.third.title'
        .video-responsive
          <iframe width="750" height="411" src="https://www.youtube.com/embed/pdgji4RL-_Q" frameborder="0" allowfullscreen></iframe>
        %hr
        %h3
          %span.blue
            4.
          = t '.videos.fourth.title'
        .video-responsive
          <iframe width="750" height="411" src="https://www.youtube.com/embed/pdgji4RL-_Q" frameborder="0" allowfullscreen></iframe>