.story-edit-info.container
  .row
    .page-header.text-center
      %h2= t '.title'
    .col-sm-6.col-sm-offset-3
      = form_for @story, url: story_path(@story), html: { id: 'story-dropzone', class: 'form-default dropzone', method: :patch, multipart: true } do |f|
        .media-upload
          %p.media-upload-title
            = t '.field.cover.title'
          %p.media-upload-description
            = t '.field.cover.description'
          .media
            .media-left.dropzone-previews{ data: { image: "#{@story.image_url(:small)}" } }
              - unless @story.image_url(:medium)
                %img#placeholder.img-circle.media-object
            .media-body
              .form-group
                %p.dz-message{style: 'display: none;'} Drop your photo here to upload
                = f.label :image, t('.field.cover.upload_from_computer')
                %span.btn.btn-primary.btn-file
                  %i.glyphicon.glyphicon-folder-open
                  = t '.field.cover.browse'
                  = f.file_field :image, class: 'form-control'
                  = f.hidden_field :image_cache
                %p.btn-file-output
                .clearfix
              .form-group
                = f.label :remote_image_url, "Or choose it from internet"
                = f.text_field :remote_image_url, class: 'form-control'
            %hr
        .form-group
          = f.label "story-input-title", t('.field.title')
          = f.text_field :name, class: "form-control"
        .form-group
          = f.label "story-input-description", t('.field.description')
          = f.text_field :description, type: "hidden"
          %trix-toolbar{ id: "wysiwig-toolbar", input: "story_description" }
          %trix-editor{ input: "story_description", toolbar: "wysiwig-toolbar", class: "form-control" }
        = f.submit t('common.save'), class: "btn btn-default btn-primary"
        %a.btn.btn-default{href: edit_story_path(@story)}= t 'common.cancel'

#dropzone-preview-template{style: 'display: none;'}
  .dz-preview.dz-file-preview
    .dz-details
      -#.dz-filename
      -#  %span.data-dz-name
      -#.dz-size{"data-dz-size": ""}
      %img.img-circle.media-object{"data-dz-thumbnail": ""}
        -#.dz-progress
        -#  %span.dz-upload{"data-dz-uploadprogress": ""}
        -#.dz-success-mark
        -#  %span ✔
        -#.dz-error-mask
        -#  %span ✘
        -#.dz-error-message
        -#  %span{"data-dz-errormessage": ""}
