.story-cover
  = render 'partials/item_preview', item: @story, large: true, cover: true

= render 'partials/item_header', item: @story, story: true

.visualization-graph.invisible
  .visualization-graph-container
    = render 'partials/item_graph_menu_navigation'
    = render 'partials/item_graph_menu_actions', story: true
    = render 'partials/item_graph_panel_configuration'
    = render 'partials/item_share_panel', item: @story, story: true
    .visualization-graph-component.loading
      %svg
    = render 'partials/story_info', story: @story
    = render 'partials/item_graph_info'

= render 'partials/item_info', item: @story, story: true

.visualization-related-items
  %p.section-title
    = t '.related_items'
  .container
    = render 'partials/item_preview_carousel', items: @related_items

= render 'partials/item_delete_modal', item: @story, story: true
