.login.devise-page.container
  .row
    .col-sm-6.col-sm-offset-3
      .page-header.text-center
        %h2 Login
        %p.lead Create your relationships visualizations & tell meaningful stories through them
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {:class => 'form-default'}) do |f|
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: "form-control"
        .form-group
          = f.label :password
          = f.password_field :password, autocomplete: "off", class: "form-control"
        - if devise_mapping.rememberable?
          .checkbox
            %label{ :for => "remember_me" }
              = f.check_box :remember_me
              Remember
        %p
          = link_to "Did you forget your password?", new_password_path(resource_name)
        .actions
          = f.submit "Log in", class: "btn btn-default btn-primary"
          .devise-links.pull-right
            = render "devise/shared/links"
      
      
