.login.devise-page.container
  .row
    .page-header.text-center
      %h2= t '.sign_in'
      %p.lead= t '.lead'
    .col-sm-6.col-sm-offset-3
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: {:class => 'form-default'}) do |f|
        .form-group
          = f.label :email
          = f.email_field :email, autofocus: true, class: "form-control"
        .form-group
          = f.label :password
          = f.password_field :password, autocomplete: "off", class: "form-control"
        - if devise_mapping.rememberable?
          .checkbox
            %label
              = f.check_box :remember_me
              = t '.remember_me'
        %p
          = link_to t('devise.shared.links.forgot_your_password'), new_password_path(resource_name)
        .actions
          = f.submit t('.sign_in'), class: "btn btn-default btn-primary"
          .devise-links.pull-right
            = render "devise/shared/links"
