- url       = (defined? edit) ? chapter_path(@chapter) : story_chapters_path
- method    = (defined? edit) ? 'patch' : 'post'
= form_for :chapter, url: url, html: { class: 'media-upload', method: method, multipart: true } do |f|
  %p.media-upload-title
    Chapter photo
  %p.media-upload-description
    Your chapter photo should be about 320px wide and under 1MB
  .media
    .media-left
      %img.img-circle.media-object{src: (@chapter and @chapter.image) ? @chapter.image.medium.url : '' }
    .media-body
      .form-group
        = f.label :image, "Upload from your computer"
        %span.btn.btn-primary.btn-file
          %i.glyphicon.glyphicon-folder-open
          Browse
          = f.file_field :image, class: 'form-control'
          = f.hidden_field :image_cache
        %p.btn-file-output
        .clearfix
      .form-group
        = f.label :remote_image_url, "Or choose it from internet"
        = f.text_field :remote_image_url, class: 'form-control'
    .actions
      = f.submit "Upload Photo", class: "btn btn-default btn-primary"
    %hr
= form_for :chapter, url: url , method: method, html: {:class => 'form-default'} do |f|
  = f.hidden_field :story_id, value: @story.id
  .form-group
    = f.label "chapter-input-title", "Chaper Title"
    = f.text_field :name, class: "form-control", required: true
  .form-group
    = f.label "chapter-input-description", "Description"
    = f.text_field :description, type: "hidden"
    %trix-toolbar{ id: "wysiwig-toolbar", input: "chapter_description" }
    %trix-editor{ input: "chapter_description", toolbar: "wysiwig-toolbar", class: "form-control" }
  %p
    Choose the relationships that appear in this chapter.
  .visualization-table
    %table.table.table-fixed
      %thead
        %tr
          %th 
            = check_box_tag 'relations_select_all'
          %th Source
          %th Relationship
          %th Target
          %th Date
      %tbody
        = f.collection_check_boxes :relation_ids, @story.visualization.dataset.relations, :id, :to_s do |b|
          %tr
            %td
              = b.check_box
            %td= b.object.source && b.object.source.name
            %td= b.object.relation_type
            %td= b.object.target && b.object.target.name
            %td= b.object.at
  = f.submit "Save", class: "btn btn-default btn-primary"
  %a.btn.btn-default{href: edit_story_path(@story)} Cancel