- url     = (defined? edit) ? chapter_path(@chapter) : story_chapters_path
- method  = (defined? edit) ? 'patch' : 'post'
= form_for :chapter, url: url , method: method, html: {:class => 'form-default'} do |f|
  = f.hidden_field :story_id, value: @story.id
  .form-group
    = f.label "chapter-input-title", "Chaper Title"
    = f.text_field :name, class: "form-control", required: true
  .form-group
    = f.label "chapter-input-description", "Description"
    = f.text_field :description, type: "hidden"
    %trix-toolbar{ id: "wysiwig-toolbar", input: "chapter_description" }
    %trix-editor{ input: "chapter_description", toolbar: "wysiwig-toolbar", class: "form-control" }
  // Add Chapter Image Form
  %p
    Choose the relationships that appear in this chapter.
  .visualization-table
    %table.table.table-fixed
      %thead
        %tr
          %th 
            = check_box_tag 'relations_select_all'
          %th Source
          %th Relationship
          %th Target
          %th Date
      %tbody
        = f.collection_check_boxes :relation_ids, @story.visualization.dataset.relations, :id, :to_s do |b|
          %tr
            %td
              = b.check_box
            %td= b.object.source && b.object.source.name
            %td= b.object.relation_type
            %td= b.object.target && b.object.target.name
            %td= b.object.at
  = f.submit "Save", class: "btn btn-default btn-primary"
  %a.btn.btn-default{href: edit_story_path(@story)} Cancel