.modal-header
  %h4.modal-title
    = t '.confirm.title'
  %button.close{type: "button", "data-dismiss" => "modal", "aria-label" => t('common.close')}
.modal-body
  %p= t '.confirm.body'
  %p
    %strong
      = t '.confirm.question'
.modal-footer
  = button_to t('common.confirm'), @chapter, :method => :delete, :class => "btn btn-danger"
  %button.btn.btn-primary.btn-invert{type: "button", "data-dismiss" => "modal", "aria-label" => t('common.close')}
    = t 'common.cancel'
