= form_for @gallery, url: gallery_path, html: {class: 'form-default'} do |f|
  .visualization_table
    %h3 Visualizations
    %table.table.table-fixed
      %thead
        %tr
          %th{style: 'width:  5em;'} &nbsp;
          %th{style: 'width: 30em;'} Name
          %th{style: 'width: 20em;'} Author
      %tbody
        = f.collection_check_boxes :visualization_ids, @visualizations, :id, :to_s do |b|
          %tr
            %td{style: 'width:  5em;'}= b.check_box
            %td{style: 'width: 30em;'}= b.object.name
            %td{style: 'width: 20em;'}= b.object.author.email
  .visualization_table
    %h3 Stories
    %table.table.table-fixed
      %thead
        %tr
          %th{style: 'width:  5em;'} &nbsp;
          %th{style: 'width: 30em;'} Name
          %th{style: 'width: 20em;'} Author
      %tbody
        = f.collection_check_boxes :story_ids, @stories, :id, :to_s do |b|
          %tr
            %td{style: 'width:  5em;'}= b.check_box
            %td{style: 'width: 30em;'}= b.object.name
            %td{style: 'width: 20em;'}= b.object.author.email
  .actions
    = f.submit 'Update', class: 'btn btn-default btn-primary'