!!!
%html
  %head
    = render 'partials/head'
  %body{ :class => controller.controller_path+' '+controller.action_name, "data-visualization-id": (@visualization.id unless @visualization.nil?), "data-story-id": (@story.id unless @story.nil?) }
    = render 'partials/header'
    = render 'partials/alerts'
    = yield
    = render 'partials/footer'
    = render 'partials/scripts'