!!!
%html
  %head
    = render 'partials/head'
  %body{ :class => controller.controller_path+' '+controller.action_name, "data-id" => params[:id] }
    = render 'partials/header'
    = render 'partials/alerts'
    = yield
    = render 'partials/footer'